@media (min-width: 1440px) {
  .container {
    max-width: 1160px;
  }
}

@media (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }

  .promo__wrapper {
    padding-top: 140px;
  }
  .about {
    &__family {
      align-items: center;
      &-wrapper {
        padding-top: 40px;
      }
    }
  }
  .services__text {
    padding-top: 40px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .promo {
    &__wrapper {
      padding-top: 80px;
      padding-right: 40px;
    }
    &__title {
      font-size: 32px;
      line-height: 120%;
    }
  }
  .about {
    padding-top: 100px;
    &__list {
      margin-top: 70px;
      li {
        max-width: 290px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &__descr {
      margin-top: 100px;
    }
    &__wrapper {
      margin-top: 70px;
    }
    &__family {
      margin-top: 70px;
      &-wrapper {
        padding-right: 40px;
      }
      &-text {
        margin-top: 20px;
      }
      &-link {
        margin-top: 20px;
      }
    }
  }
  .video {
    padding-top: 100px;
    &__title {
      margin-bottom: 70px;
    }
  }
  .services {
    padding-top: 100px;
    &__title {
      margin-bottom: 70px;
    }
    &__text {
      padding-right: 40px;
      p {
        margin-top: 20px;
      }
    }
    &__link {
      margin-top: 23px;
    }
  }
  .guarantee {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
      padding: 0;
    }
  }
  .footer {
    padding-bottom: 100px;
    &__list {
      column-gap: 20px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .promo {
    &__wrapper {
      padding: 29px;
    }
    &__descr {
      margin-top: 20px;
    }
    &__title {
      font-size: 32px;
      line-height: 120%;
    }
    &__link {
      margin-top: 40px;
    }
    &__messengers {
      margin-top: 30px;
    }
  }
  .about {
    &__list {
      li {
        max-width: 220px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &__family {
      align-items: center;
    }
  }
  .video {
    iframe {
      height: 500px;
    }
  }
  .services {
    &__item {
      align-items: center;
      padding-bottom: 20px;
    }
  }
  .guarantee {
    &__title {
      font-size: 32px;
      line-height: 150%;
    }
  }
  .footer {
    &__list {
      row-gap: 20px;
    }
  }
}

@media (min-width: 769px) {
  .menu {
    &__overlay_active {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .menu {
    height: 80px;
    padding-top: 32px;
    nav {
      background-color: #715b4b;
      width: 345px;
      padding: 140px 40px;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      z-index: 10;
    }
    &__list {
      flex-direction: column;
      list-style-type: circle;
    }
    &__link {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 36px;
      width: 100%;
      text-align: left;
      a {
        color: #fff;
      }
      &_logo {
        display: none;
      }
    }
    &__close {
      display: block;
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
    }
  }
  .promo {
    grid-template-columns: 1fr;
    border: none;
    &__wrapper {
      padding: 40px;
    }
    &__img {
      grid-row: 2/3;
    }
    &__title {
      margin-top: 50px;
    }
    &__messengers {
      position: static;
      margin-bottom: 0;
    }
    &__descr {
      margin-top: 40px;
    }
    &__link {
      margin-top: 20px;
    }
  }
  .about {
    padding-top: 90px;
    &__list {
      display: block;
      margin-top: 20px;
      li {
        padding-top: 40px;
        margin: 0 auto;
        max-width: 300px;
      }
    }
    &__descr {
      margin-top: 90px;
    }
    &__wrapper {
      margin-top: 60px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__family {
      background-color: $main-color;
      grid-template-columns: 1fr;
      margin-top: 60px;
      &-wrapper {
        padding-top: 60px;
      }
      &-link {
        margin-top: 52px;
      }
    }
  }
  .video {
    padding-top: 90px;
    &__title {
      margin-bottom: 60px;
      font-size: 32px;
      line-height: 150%;
    }
    iframe {
      height: 350px;
    }
  }
  .services {
    &__title {
      margin-bottom: 50px;
      font-size: 32px;
      line-height: 150%;
    }
    &__item {
      grid-template-columns: 1fr;
    }
    &__text {
      padding: 90px 40px 60px 40px;
      p {
        margin-top: 40px;
      }
    }
    &__link {
      margin-top: 67px;
    }
  }
  .guarantee {
    padding-top: 90px;
    padding-bottom: 90px;
    &__wrapper {
      &-2 {
        padding: 90px 10px;
      }
    }
    &__img {
      width: 69px;
      height: 68px;
      img {
        width: 100%;
      }
    }
  }
  .footer {
    padding: 40px 0 90px 0;
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 80px;
    }
    &__list {
      grid-template-columns: 1fr;
      grid-auto-flow: unset;
      row-gap: 30px;
    }
    &__social {
      grid-row: 1/2;
    }
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .hamburger {
    right: 35px;
  }
  .menu {
    nav {
      width: 250px;
    }
  }
  .promo {
    &__wrapper {
      padding: 40px 35px;
    }
  }
  .about {
    .container {
      padding: 0 35px;
    }
    &__descr {
      font-size: 36px;
      line-height: 150%;
    }
    &__wrapper {
      grid-template-rows: repeat(4, 204px);
    }
    &__product {
      padding-top: 30px;
    }
    &__family-wrapper {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .video {
    &__title {
      padding: 0 35px;
    }
    iframe {
      height: 250px;
    }
  }
  .services {
    &__title {
      padding: 0 35px;
    }
    &__text {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .guarantee {
    padding: 90px 15px;
    &__title {
      font-size: 24px;
      line-height: 141%;
    }
    &__text {
      font-size: 16px;
      line-height: 150%;
    }
  }
  .footer {
    padding-left: 35px;
    padding-right: 35px;
  }
}
